html,
body {
  margin: 0px;
  height: 100%;
}

#sidebar {
  grid-area: sidebar;
  overflow-y: scroll;
}

#content {
  grid-area: content;
}

.header {
  grid-area: header;
  font-family: Helvetica, sans-serif
}

.footer {
  grid-area: footer;
}

.sideBarItem {
  max-height: 50px;
  max-width: 50px;
  padding: 5px;
}

.sideBarItem img {
  max-height: 50px;
  max-Width: 50px;
}

.colourPalette {
  grid-area: colourP;
  display: flex;
  flex-direction: grid;
  flex-flow: wrap;
}

.options {
  grid-area: options;
  padding: 15px;
}

.colourSwatches {
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  max-height: 40px;
  max-width: 40px;
  margin: 5px;
}

.wrapper {
  display: grid;
  height: 100%;
  grid-template-columns: 70px 450px minmax(500px, 1fr);
  grid-template-rows: 35px minmax(500px, 1fr) 160px;
  grid-template-areas: "header header header" "sidebar content content" "colourP colourP options";
  background-color: #fff;
  color: #444;
}

.box {
  background-color: #444;
  color: #fff;
  font-size: 150%;
}

.subTools {
  grid-area: sidebar;
  overflow-y: scroll;
  background-color: rgb(59, 59, 59);
  position: absolute;
  left: 71px;
  width: 63px;
}

.header {
  background-color: #999;
}

.stampDiv {
  grid-area: stampDiv;
  display: flex;
  flex-direction: grid;
  flex-flow: wrap;
}

.stamp {
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  max-height: 100px;
  max-width: 100px;
  margin: 5px;
}

.globalOptions {
  box-sizing: border-box;
  width: 250px;
  height: 40px;
  max-height: 40px;
  max-width: 250px;
  margin: 2px;
}
